mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}
.toolbar {
  color: black;
}

.sidenav {
  background: linear-gradient(to left, #000000, #2d2d31);
  width: 12rem;
}
.matlist {
  color: white;
  font-size: 1.5rem;
}

.active {
  text-decoration: underline;
}

.toolbar {
  color: black;
}

a {
  text-decoration: none;
  color: black;
  list-style-type: none;
}

a:hover {
  color: gray;
}

li {
  list-style: none;
}

.res {
  position: absolute;
  background-color: transparent;
}
