<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav class="sidenav" fxHide.gt-md>
    <mat-nav-list role="list" fxLayout="column" fxLayoutAlign="center end">
      <mat-list-item
        role="listitem"
        routerLink="about/contactus"
        (click)="sidenav.close()"
        class="matlist"
        >Contact Me</mat-list-item
      >

      <mat-list-item
        role="listitem"
        routerLink="about/aboutme"
        class="matlist"
        (click)="sidenav.close()"
        >About Me</mat-list-item
      >
      <mat-list-item
        class="matlist"
        role="listitem"
        routerLink="patients/addPatients"
        (click)="sidenav.close()"
        >Add Patients</mat-list-item
      >
      <mat-list-item
        class="matlist"
        role="listitem"
        (click)="sidenav.close()"
        routerLink="patients/loadPatients"
        >Load Patients</mat-list-item
      >
      <mat-list-item class="matlist" (click)="sidenav.close()"
        >Log In</mat-list-item
      >
      <mat-list-item class="matlist" (click)="sidenav.close()"
        >Log Out</mat-list-item
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" ngClass.gt-md="res">
      <button
        (click)="sidenav.toggle()"
        fxHide.gt-md
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        fxLayoutAlign="start center"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <!-- <mat-nav-list
        role="list"
        fxLayout="row"
        fxHide.lt-md
        fxLayoutAlign="end center"
        fxFlex="80%"
      >
        <mat-list-item
          role="listitem"
          routerLink="about/contactus"
          routerLinkActive="active"
          >Contact Us</mat-list-item
        >

        <mat-list-item
          role="listitem"
          routerLink="about/aboutme"
          routerLinkActive="active"
          >About Me</mat-list-item
        >
        <mat-list-item
          fxHide.lt-md
          role="listitem"
          routerLink="patients/addPatients"
          *ngIf="auth.loggedIn"
          routerLinkActive="active"
          >Add Patients</mat-list-item
        >
        <mat-list-item
          fxHide.lt-md
          role="listitem"
          routerLink="patients/loadPatients"
          *ngIf="auth.loggedIn"
          routerLinkActive="active"
          >Load Patients</mat-list-item
        >

        <mat-list-item
          (click)="auth.login()"
          *ngIf="!auth.loggedIn"
          fxHide.lt-md
          routerLinkActive="active"
          >Log In</mat-list-item
        >
        <mat-list-item
          (click)="auth.logout()"
          *ngIf="auth.loggedIn"
          fxHide.lt-md
          routerLinkActive="active"
          >Log Out</mat-list-item
        >
      </mat-nav-list> -->
      <ul
        fxHide.lt-md
        role="list"
        fxLayout="row"
        class="toolbar"
        fxLayoutAlign="start center"
        fxLayoutGap="5rem"
        fxFlex
      >
        <li>
          <a
            role="listitem"
            routerLink="about/contactus"
            routerLinkActive="active"
            >Contact Me</a
          >
        </li>

        <li>
          <a
            role="listitem"
            routerLink="about/aboutme"
            routerLinkActive="active"
            >About Me</a
          >
        </li>
        <li>
          <a
            role="listitem"
            routerLink="patients/addPatients"
            routerLinkActive="active"
            >Add Patients</a
          >
        </li>
        <li>
          <a
            role="listitem"
            routerLink="patients/loadPatients"
            routerLinkActive="active"
            >Load Patients</a
          >
        </li>
        <li>
          <a>Log In</a>
        </li>
        <li>
          <a>Log Out</a>
        </li>
      </ul>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
