.main {
  min-height: 100vh;
  // background-image: url(../../../assets/images/4048774.jpg);
  background-image: url("../../../assets/4048774.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 1.6rem;
}

.card {
  width: 60rem;

  background-color: rgba(245, 245, 245, 0.753);
  border-top: rgb(110, 110, 110) solid 2rem;
  border-top: rgba(45, 168, 100, 0.877) solid 2rem;
}

mat-form-field {
}
form {
}
.container {
}

mat-form-field {
  width: 100%;
}

.submit-button {
  width: 14rem;
  background-color: rgba(42, 42, 235, 0.877);
  color: white;
  border-radius: 300px;
  margin-top: 2rem;
}

// .res {
//   width: 40rem;
// }
