@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
@import "~firebaseui/dist/firebaseui.css";
.ag-theme-alpine {
  @include ag-theme-alpine(
    (
      odd-row-background-color: #cfd8dc,
    )
  );
}
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;

  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
